* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 400px;
    height: 500px;
    border: 5px solid #000;
    margin: auto;
    margin-top: 70px;
    border-top-color: lightgreen;
    border-bottom-color: lightsalmon;
    border-left: 0;
    border-right: 0;
    border-radius: 20px;
}

.form h3 {
    margin: 20px;
    text-align: center;
    font-size: 26px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form .formbox {
    border: 0px solid #000;
    width: 90%;
    padding-top: 40px;
    margin: auto;
    height: auto;
}
.form .formbox label {
    margin: 20px;
    font-size: 20px;
    font-family:fantasy ;
}
.formbox input{
    margin: 20px;
    padding: 10px;
   display: block;
   width: 90%;
   border-radius: 10px;
   border: 0;
}
.formbox input[type=button] {
    padding: 10px;
    width: 90%;
    margin-top: 40px;
    margin-left: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgoldenrodyellow;
}
.formbox input[type=button]:hover {
    background-color: blue;
    color: white;
}
.formbox input [type="text"] {
    background-image:url("imgs/User.png");
}
.formbox input [type="password"] {
    background-image: url("imgs/Password.png");
}
