*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 200px;
    aspect-ratio: 1/2;
    border: 1px solid #000;
    background-color: cadetblue;
    margin: 30px auto;
    transition: 10s;
}
.main img {
    width: 100%;
}
.main:hover {
    transform: rotateZ(180deg);
}